* {
  box-sizing: border-box;
}
body {
  background-image: url("https://farm4.staticflickr.com/3854/32764887833_7c91946505_k.jpg");
  display: flex;
  justify-content: center;
}

.main-panel {
  background-color: #c7d7d4;
  height: 500px;
  width: 600px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #888888;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.display {
    height: 400px;
}

.buttons {

}

button {
  width: 100px;
  /* height: 50px; */
  font-size: 30px;
  margin-left: 5px;
  border: 4px outset ;
}
